## Script to re-encode data into .csv files

In [1]:
import pickle
import csv
import pandas

Load pickle files

In [2]:
NRecQuarter = pickle.load(open('NRecQuarter.pkl'))
topWords = pickle.load(open('topWords5k.pkl'))

Setup 2D list

In [3]:
rows=5000          # number of top words
cols=len(topWords) # number of quarters
dataFreqs=[]
dataWords=[]
NCut = 1000        # cut down number of top words

Transfer data to 2D list

In [4]:
for topWordsQuarter in topWords:
    freqs = [d[0] for d in topWordsQuarter]
    freqs += [0]*(rows-len(freqs))
    freqs = freqs[:NCut]
    dataFreqs.insert(len(dataFreqs),freqs)

    words = [d[1] for d in topWordsQuarter]
    words += ['']*(rows-len(words))
    words = words[:NCut]
    dataWords.insert(len(dataWords),words)
    
# transpose to have each column a quarter
dataFreqs = zip(*dataFreqs)    
dataWords = zip(*dataWords)    

# setup labels    
labels = ['%d-Q%d'%(year, q) for year in range (1992,2017) for q in range(1,5)]
dataFreqs.insert(0,labels)
dataWords.insert(0,labels)

Write 2D list to .csv file.

In [5]:
f = open('topWords-freqs.csv','wt')
writer=csv.writer(f)
writer.writerows(dataFreqs)
f.close()
f = open('topWords-words.csv','wt')
writer=csv.writer(f)
writer.writerows(dataWords)
f.close()

Write NRecQuarter

In [6]:
f = open('NRecQuarter.csv','wt')
writer=csv.writer(f)
writer.writerow(NRecQuarter)
f.close()

Test load into pandas dataframe

In [7]:
dfWords = pandas.read_csv("topWords-words.csv")
dfFreqs = pandas.read_csv("topWords-freqs.csv")

In [8]:
dfWords.head()

,1992-Q1,1992-Q2,1992-Q3,1992-Q4,1993-Q1,1993-Q2,1993-Q3,1993-Q4,1994-Q1,1994-Q2,...,2014-Q3,2014-Q4,2015-Q1,2015-Q2,2015-Q3,2015-Q4,2016-Q1,2016-Q2,2016-Q3,2016-Q4
0,NaN,NaN,NaN,spacetime,measurement,NaN,NaN,NaN,NaN,time,...,non,entanglement,time,entanglement,time,non,time,time,NaN,NaN
1,NaN,NaN,NaN,mechanics,mechanics,NaN,NaN,NaN,NaN,kinetic,...,spin,non,non,time,entanglement,time,non,non,NaN,NaN
2,NaN,NaN,NaN,histories,closed,NaN,NaN,NaN,NaN,coupling,...,entanglement,time,spin,non,using,entanglement,photon,entanglement,NaN,NaN
3,NaN,NaN,NaN,closed,measured,NaN,NaN,NaN,NaN,bose,...,time,using,using,using,non,spin,single,using,NaN,NaN
4,NaN,NaN,NaN,alternatives,vector,NaN,NaN,NaN,NaN,{,...,using,spin,single,single,spin,single,using,single,NaN,NaN

In [9]:
dfFreqs.head()

,1992-Q1,1992-Q2,1992-Q3,1992-Q4,1993-Q1,1993-Q2,1993-Q3,1993-Q4,1994-Q1,1994-Q2,...,2014-Q3,2014-Q4,2015-Q1,2015-Q2,2015-Q3,2015-Q4,2016-Q1,2016-Q2,2016-Q3,2016-Q4
0,0,0,0,14,6,0,0,0,0,3,...,598,588,639,675,639,625,614,588,0,0
1,0,0,0,13,5,0,0,0,0,3,...,592,587,618,618,600,616,558,580,0,0
2,0,0,0,13,5,0,0,0,0,3,...,546,578,599,614,565,605,550,518,0,0
3,0,0,0,7,4,0,0,0,0,3,...,540,515,550,529,562,546,542,507,0,0
4,0,0,0,7,3,0,0,0,0,2,...,527,486,534,503,550,545,511,490,0,0